{
  "openapi": "3.1.0",
  "info": {
    "title": "Docent API",
    "description": "REST API for programmatic trading on Hyperliquid and Polymarket via Docent. Create API agents, fund a dedicated wallet, place trades, check balances, and move funds between venues with API keys.",
    "version": "1.0.0",
    "contact": {
      "email": "support@trydocent.com"
    }
  },
  "servers": [
    {
      "url": "https://api.trydocent.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Registration, key management, and onboarding status"
    },
    {
      "name": "Balances",
      "description": "Unified balance across all trading venues"
    },
    {
      "name": "Positions",
      "description": "Open positions on Hyperliquid and Polymarket"
    },
    {
      "name": "Markets",
      "description": "Market metadata and search"
    },
    {
      "name": "Orders",
      "description": "Place orders on Hyperliquid perpetuals, spot, and Polymarket"
    },
    {
      "name": "Transfers",
      "description": "Move funds between trading venues"
    },
    {
      "name": "Actions",
      "description": "Poll workflow execution status"
    },
    {
      "name": "Strategies",
      "description": "Coming soon. Reserved for future strategy endpoints."
    }
  ],
  "paths": {
    "/v1/auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Register a new API account",
        "description": "Creates a new API agent with a dedicated Privy server wallet, starts Hyperliquid and Polymarket onboarding in the background, and returns a one-time API key. Store the API key securely.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API agent created. API key returned once.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Registration failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/status": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Check onboarding status",
        "description": "Returns onboarding status for the authenticated API agent and wallet. Poll this after registration until Hyperliquid and Polymarket show `ready`.",
        "responses": {
          "200": {
            "description": "Onboarding status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/keys/rotate": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Rotate API key",
        "description": "Generates a new API key and revokes the current one. The new key is returned exactly once. The old key stops working immediately.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RotateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RotateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/keys/revoke": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Revoke API key",
        "description": "Permanently revokes the current API key. You will no longer be able to authenticate with this key.",
        "responses": {
          "200": {
            "description": "Key revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/balances": {
      "get": {
        "tags": [
          "Balances"
        ],
        "summary": "Get balances",
        "description": "Returns the authenticated wallet address, the Polymarket Safe address if deployed, and a unified balance snapshot. Venue `value` fields are USD valuations. Venue `available` fields are exact USDC 6-decimal base-unit strings.",
        "responses": {
          "200": {
            "description": "Unified balance snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalancesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/positions/perp": {
      "get": {
        "tags": [
          "Positions"
        ],
        "summary": "Get perpetual positions",
        "description": "Returns open perpetual positions across all supported Hyperliquid DEXes (main + HIP-3).",
        "responses": {
          "200": {
            "description": "Perpetual positions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerpPositions"
                }
              }
            }
          }
        }
      }
    },
    "/v1/positions/polymarket": {
      "get": {
        "tags": [
          "Positions"
        ],
        "summary": "Get Polymarket positions",
        "description": "Returns open prediction market positions on Polymarket.",
        "responses": {
          "200": {
            "description": "Polymarket positions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolymarketPositions"
                }
              }
            }
          }
        }
      }
    },
    "/v1/markets/perp": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "List perpetual markets",
        "description": "Returns metadata for all available perpetual markets on Hyperliquid, including symbol, max leverage, and size decimals.",
        "responses": {
          "200": {
            "description": "List of perpetual markets grouped by DEX",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PerpMarketGroup"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/markets/polymarket/search": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Search prediction markets",
        "description": "Full-text search across active Polymarket prediction markets.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query",
            "schema": {
              "type": "string",
              "example": "bitcoin"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum results to return (default 20)",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching markets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PolymarketMarket"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/perp": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Place perpetual order",
        "description": "Place a perpetual futures order on Hyperliquid. Supports market and limit orders with optional TP/SL. The order executes asynchronously via a durable workflow — poll `/v1/actions` to track status.\n\nDocent automatically funds the order from your unified balance if needed.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlacePerpOrderRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Order accepted for asynchronous execution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation or execution error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/spot": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Place spot order",
        "description": "Place a spot order on Hyperliquid. Supports market and limit orders. Docent automatically funds the trade from your unified balance if needed.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaceSpotOrderRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Order accepted for asynchronous execution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation or execution error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/polymarket": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Place prediction market order",
        "description": "Place an order on a Polymarket prediction market. Specify the market with `conditionId` and `outcome`. You can pass `tokenId` to assert the expected outcome token, or let Docent resolve it for you. Docent automatically funds the trade from your unified balance if needed.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlacePolymarketOrderRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Order accepted for asynchronous execution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation or execution error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/transfers": {
      "post": {
        "tags": [
          "Transfers"
        ],
        "summary": "Create transfer",
        "description": "Move USDC between Docent venues. Send `amount` as a decimal USDC string with up to 6 decimals. Cross-chain or cross-bucket transfers must be at least `$1.00`. Internal Hyperliquid spot-to-perpetuals transfers are exempt. External withdrawals to arbitrary addresses are not supported.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Transfer accepted for asynchronous execution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid route or amount",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Transfers"
        ],
        "summary": "Get transfer",
        "description": "Returns the status of a transfer created through the API. Poll this after `POST /v1/transfers` until the transfer reaches `completed` or `failed`.",
        "parameters": [
          {
            "name": "transferId",
            "in": "query",
            "required": true,
            "description": "Transfer ID returned by `POST /v1/transfers`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferDetails"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid transferId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Transfer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/actions": {
      "get": {
        "tags": [
          "Actions"
        ],
        "summary": "Get actions",
        "description": "Returns recent workflow actions for the authenticated API agent. Pass `actionId` to fetch one action by ID. Omit `actionId` to list recent actions.",
        "parameters": [
          {
            "name": "actionId",
            "in": "query",
            "required": false,
            "description": "Fetch a single action by ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum results when listing recent actions (1-100, default 20)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single action or a list of actions",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Action"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Action"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Action not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/strategies": {
      "get": {
        "tags": [
          "Strategies"
        ],
        "summary": "List strategies (coming soon)",
        "description": "This endpoint is not available yet while the API runtime migrates to agent and wallet identity.",
        "responses": {
          "501": {
            "description": "Not implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key in the format `dk_live_...`. Pass as `Authorization: Bearer dk_live_...`"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error",
          "code"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "code": {
            "type": "string",
            "description": "Machine-readable error code",
            "enum": [
              "UNAUTHORIZED",
              "FORBIDDEN",
              "RATE_LIMITED",
              "BAD_REQUEST",
              "VALIDATION_ERROR",
              "NOT_FOUND",
              "ORDER_REJECTED",
              "ORDER_FAILED",
              "TRANSFER_FAILED",
              "REGISTRATION_FAILED",
              "ROTATION_FAILED",
              "NOT_IMPLEMENTED"
            ]
          },
          "retryAfter": {
            "type": "number",
            "description": "Milliseconds until rate limit resets (only on 429)"
          }
        }
      },
      "RegisterRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable name for this API agent",
            "example": "my-trading-bot",
            "minLength": 1,
            "maxLength": 64
          }
        }
      },
      "RegisterResponse": {
        "type": "object",
        "required": [
          "agentId",
          "apiKey",
          "walletAddress",
          "status"
        ],
        "properties": {
          "agentId": {
            "type": "string",
            "description": "Your API agent ID"
          },
          "apiKey": {
            "type": "string",
            "description": "Your API key. Shown exactly once. Store it securely.",
            "example": "dk_live_a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4"
          },
          "walletAddress": {
            "type": "string",
            "description": "Dedicated Ethereum wallet address for this API agent",
            "example": "0x1234...abcd"
          },
          "status": {
            "type": "string",
            "enum": [
              "created"
            ],
            "description": "Initial registration state. Poll `/v1/auth/status` for venue onboarding progress."
          }
        }
      },
      "OnboardingStatus": {
        "type": "object",
        "required": [
          "agentId",
          "walletId",
          "walletAddress",
          "name",
          "hyperliquid",
          "polymarket"
        ],
        "properties": {
          "agentId": {
            "type": "string"
          },
          "walletId": {
            "type": "string"
          },
          "walletAddress": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Agent name set during registration"
          },
          "hyperliquid": {
            "type": "object",
            "required": [
              "ready",
              "status"
            ],
            "properties": {
              "ready": {
                "type": "boolean",
                "description": "Whether Hyperliquid trading is ready"
              },
              "status": {
                "type": "string",
                "enum": [
                  "not_created",
                  "pending",
                  "active",
                  "revoked",
                  "expired"
                ]
              }
            }
          },
          "polymarket": {
            "type": "object",
            "required": [
              "ready",
              "safeAddress",
              "status"
            ],
            "properties": {
              "ready": {
                "type": "boolean",
                "description": "Whether Polymarket trading is ready"
              },
              "safeAddress": {
                "type": "string",
                "nullable": true,
                "description": "Polymarket Safe address for this API wallet"
              },
              "status": {
                "type": "string",
                "enum": [
                  "not_created",
                  "deploying_safe",
                  "ready"
                ]
              }
            }
          }
        }
      },
      "RotateRequest": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Optional new label for the key",
            "maxLength": 64
          }
        }
      },
      "RotateResponse": {
        "type": "object",
        "properties": {
          "apiKey": {
            "type": "string",
            "description": "Your new API key. The old key is now revoked.",
            "example": "dk_live_f6e5d4c3b2a1f6e5d4c3b2a1f6e5d4c3"
          }
        }
      },
      "UnifiedBalance": {
        "type": "object",
        "required": [
          "evm",
          "hyperliquid",
          "polymarket",
          "totals"
        ],
        "properties": {
          "evm": {
            "$ref": "#/components/schemas/VenueBalance"
          },
          "hyperliquid": {
            "$ref": "#/components/schemas/VenueBalance"
          },
          "polymarket": {
            "$ref": "#/components/schemas/VenueBalance"
          },
          "totals": {
            "type": "object",
            "required": [
              "value",
              "cash"
            ],
            "properties": {
              "value": {
                "type": "number",
                "description": "Total portfolio value across all venues in USD"
              },
              "cash": {
                "type": "number",
                "description": "Liquid cash across EVM, Hyperliquid, and Polymarket in USD"
              }
            }
          }
        }
      },
      "PerpPositions": {
        "type": "object",
        "properties": {
          "user": {
            "type": "string",
            "description": "Wallet address"
          },
          "clearinghouseStates": {
            "type": "array",
            "description": "Positions grouped by DEX",
            "items": {
              "type": "object",
              "properties": {
                "dex": {
                  "type": "string",
                  "description": "DEX name (\"hyperliquid\" for main)"
                },
                "state": {
                  "type": "object",
                  "description": "Hyperliquid clearinghouse state"
                }
              }
            }
          }
        }
      },
      "PolymarketPositions": {
        "type": "object",
        "properties": {
          "safeAddress": {
            "type": "string",
            "nullable": true
          },
          "positions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "error": {
            "type": "string",
            "nullable": true,
            "description": "Present when the upstream Polymarket positions API fails"
          }
        }
      },
      "PerpMarketGroup": {
        "type": "object",
        "properties": {
          "dex": {
            "type": "string",
            "description": "DEX name",
            "example": "hyperliquid"
          },
          "assets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "BTC"
                },
                "szDecimals": {
                  "type": "integer",
                  "description": "Size decimal precision"
                },
                "maxLeverage": {
                  "type": "integer",
                  "example": 40
                },
                "isDelisted": {
                  "type": "boolean"
                }
              }
            }
          },
          "updatedAt": {
            "type": "number",
            "description": "Unix timestamp of last metadata refresh"
          }
        }
      },
      "PolymarketMarket": {
        "type": "object",
        "properties": {
          "conditionId": {
            "type": "string",
            "description": "Unique market identifier"
          },
          "question": {
            "type": "string",
            "example": "Will Bitcoin reach $150k by end of 2026?"
          },
          "outcomes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "Yes",
              "No"
            ]
          },
          "outcomePrices": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "example": [
              0.65,
              0.35
            ]
          },
          "volume24h": {
            "type": "number"
          },
          "liquidity": {
            "type": "number"
          },
          "category": {
            "type": "string"
          },
          "endDate": {
            "type": "string"
          }
        }
      },
      "PlacePerpOrderRequest": {
        "type": "object",
        "required": [
          "symbol",
          "side",
          "size",
          "orderType"
        ],
        "properties": {
          "symbol": {
            "type": "string",
            "description": "Canonical perpetual symbol (for example `BTC`, `ETH`, or `xyz:NVDA`)",
            "example": "BTC"
          },
          "side": {
            "type": "string",
            "enum": [
              "long",
              "short"
            ]
          },
          "size": {
            "type": "string",
            "description": "Order size in base units",
            "example": "0.01"
          },
          "orderType": {
            "type": "string",
            "enum": [
              "market",
              "limit"
            ]
          },
          "price": {
            "type": "number",
            "description": "Limit price (required for limit orders)",
            "example": 100000
          },
          "reduceOnly": {
            "type": "boolean",
            "description": "Only reduce an existing position"
          },
          "takeProfitPrice": {
            "type": "number",
            "description": "Take-profit trigger price"
          },
          "stopLossPrice": {
            "type": "number",
            "description": "Stop-loss trigger price"
          }
        }
      },
      "PlaceSpotOrderRequest": {
        "type": "object",
        "required": [
          "symbol",
          "side",
          "amountUsd",
          "orderType"
        ],
        "properties": {
          "symbol": {
            "type": "string",
            "description": "Spot trading pair symbol (for example `PURR` or `HFUN`)",
            "example": "PURR"
          },
          "side": {
            "type": "string",
            "enum": [
              "BUY",
              "SELL"
            ]
          },
          "amountUsd": {
            "type": "number",
            "description": "Amount in USD",
            "example": 100
          },
          "orderType": {
            "type": "string",
            "enum": [
              "market",
              "limit"
            ]
          },
          "limitPrice": {
            "type": "number",
            "description": "Limit price (required for limit orders)"
          },
          "maxSlippagePercent": {
            "type": "number",
            "description": "Optional maximum slippage percentage"
          }
        }
      },
      "PlacePolymarketOrderRequest": {
        "type": "object",
        "required": [
          "conditionId",
          "outcome",
          "side",
          "size",
          "price"
        ],
        "properties": {
          "conditionId": {
            "type": "string",
            "description": "Polymarket market condition ID"
          },
          "tokenId": {
            "type": "string",
            "description": "Optional token ID for the chosen outcome. If omitted, Docent resolves it from `conditionId` and `outcome`."
          },
          "outcome": {
            "type": "string",
            "enum": [
              "Yes",
              "No"
            ],
            "description": "Outcome to trade"
          },
          "side": {
            "type": "string",
            "enum": [
              "BUY",
              "SELL"
            ]
          },
          "size": {
            "type": "number",
            "description": "Number of shares",
            "example": 50
          },
          "price": {
            "type": "number",
            "description": "Tick-aligned limit price between 0.01 and 0.99",
            "minimum": 0.01,
            "maximum": 0.99,
            "example": 0.65
          }
        }
      },
      "OrderResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "actionId": {
            "type": "string",
            "description": "Action ID for polling status via `/v1/actions`"
          },
          "workflowId": {
            "type": "string",
            "description": "Internal workflow ID"
          }
        },
        "required": [
          "success",
          "actionId",
          "workflowId"
        ]
      },
      "TransferRequest": {
        "type": "object",
        "required": [
          "source",
          "destination",
          "amount"
        ],
        "properties": {
          "source": {
            "type": "string",
            "enum": [
              "evm",
              "polymarket_safe",
              "hypercore_spot",
              "hypercore_perps"
            ],
            "description": "Source venue ID"
          },
          "destination": {
            "type": "string",
            "enum": [
              "evm",
              "polymarket_safe",
              "hypercore_spot",
              "hypercore_perps"
            ],
            "description": "Destination venue ID"
          },
          "amount": {
            "type": "string",
            "description": "Amount in USDC as a decimal string with up to 6 decimals",
            "pattern": "^(?:\\d+(?:\\.\\d{0,6})?|\\.\\d{1,6})$",
            "example": "1.25"
          }
        }
      },
      "TransferResponse": {
        "type": "object",
        "required": [
          "success",
          "transferId"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "transferId": {
            "type": "string",
            "description": "Transfer ID for polling via `GET /v1/transfers`"
          }
        }
      },
      "Action": {
        "type": "object",
        "required": [
          "id",
          "workflowId",
          "venue",
          "status",
          "summary",
          "createdAt",
          "startedAt",
          "completedAt",
          "error"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "workflowId": {
            "type": "string",
            "nullable": true
          },
          "venue": {
            "type": "string",
            "enum": [
              "hyperliquid_perp",
              "hyperliquid_spot",
              "polymarket"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "running",
              "completed",
              "failed"
            ]
          },
          "summary": {
            "type": "string",
            "example": "API: long 0.01 BTC market"
          },
          "createdAt": {
            "type": "number"
          },
          "startedAt": {
            "type": "number",
            "nullable": true
          },
          "completedAt": {
            "type": "number",
            "nullable": true
          },
          "error": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Strategy": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "trigger": {
            "type": "object"
          },
          "order": {
            "type": "object"
          },
          "metadata": {
            "type": "object"
          },
          "createdAt": {
            "type": "number"
          },
          "updatedAt": {
            "type": "number"
          }
        }
      },
      "BalancesResponse": {
        "type": "object",
        "required": [
          "walletAddress",
          "safeAddress",
          "balances"
        ],
        "properties": {
          "walletAddress": {
            "type": "string",
            "description": "Authenticated API wallet address"
          },
          "safeAddress": {
            "type": "string",
            "nullable": true,
            "description": "Polymarket Safe address if deployed"
          },
          "balances": {
            "$ref": "#/components/schemas/UnifiedBalance"
          }
        }
      },
      "VenueBalance": {
        "type": "object",
        "required": [
          "value",
          "available"
        ],
        "properties": {
          "value": {
            "type": "number",
            "description": "Venue valuation in USD"
          },
          "available": {
            "type": "string",
            "description": "Available USDC as an exact 6-decimal base-unit string",
            "example": "1250000"
          }
        }
      },
      "TransferDetails": {
        "type": "object",
        "required": [
          "id",
          "workflowId",
          "source",
          "destination",
          "sourceChain",
          "amount",
          "amountBaseUnits",
          "status",
          "triggeredBy",
          "providerState",
          "txHashes",
          "errorMessage",
          "createdAt",
          "updatedAt",
          "completedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "workflowId": {
            "type": "string",
            "nullable": true
          },
          "source": {
            "type": "string",
            "enum": [
              "evm",
              "polymarket_safe",
              "hypercore_spot",
              "hypercore_perps"
            ]
          },
          "destination": {
            "type": "string",
            "enum": [
              "evm",
              "polymarket_safe",
              "hypercore_spot",
              "hypercore_perps"
            ]
          },
          "sourceChain": {
            "type": "string",
            "nullable": true,
            "description": "Resolved source chain when the transfer path uses one",
            "enum": [
              "arbitrum",
              "polygon"
            ]
          },
          "amount": {
            "type": "string",
            "description": "Amount as a decimal USDC string",
            "example": "1.25"
          },
          "amountBaseUnits": {
            "type": "string",
            "description": "Amount as the exact 6-decimal base-unit string",
            "example": "1250000"
          },
          "status": {
            "type": "string",
            "enum": [
              "processing",
              "completed",
              "failed"
            ]
          },
          "triggeredBy": {
            "type": "string",
            "enum": [
              "user",
              "auto"
            ]
          },
          "providerState": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true,
            "description": "Provider-specific execution details for debugging and status reporting"
          },
          "txHashes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errorMessage": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "number"
          },
          "updatedAt": {
            "type": "number"
          },
          "completedAt": {
            "type": "number",
            "nullable": true
          }
        }
      }
    }
  }
}
